
/* body{
  display: flex;
  flex: 1;
  min-height: 100vh;
  min-width: 100vw;
}
#root{
  display: flex;
  border-color: #dd4242;
  border-width:3px
} */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: "red"
}
#projectContainer {
  background-color: #e12424;
  border-right: solid 1px #e3e3e3;
  display: flex;
  flex: 1
}
